form {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
}

.wrapper {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100vh;
}

button {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

button:hover {
	background-color: #45a049;
}

.span-color {
	color: rgba(255, 255, 255, 0.55);
}

.image-container {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	text-align: center;
}

.centered-image {
	max-width: 100%;
	height: auto;
}

.centered-heading {
	margin-top: 10px;
	font-size: 24px;
}
.login-form {
  background-color: rgba(0, 0, 0, 0.7); /* Темний напівпрозорий фон */
  padding: 20px;
  border-radius: 10px;
  color: #f0f0f0; /* Світлий текст */
  width: 300px;
  text-align: center;
}

.login-form input {
  background-color: #333; /* Темне поле вводу */
  color: #fff; /* Білий текст у полі вводу */
  border: 1px solid #555; /* Сіра рамка */
  padding: 10px;
  margin-bottom: 10px;
  width: 100%;
}

.login-form input::placeholder {
  color: #aaa; /* Світло-сірий колір для placeholder */
}

.login-form button {
  background-color: #555; /* Сіра кнопка */
  color: #fff; /* Білий текст */
  border: none;
  padding: 10px 20px;
  cursor: pointer;
  border-radius: 5px;
  width: 100%;
}

.login-form button:hover {
  background-color: #777; /* Трохи світліший відтінок на наведенні */
}
