/* Загальні стилі для форми */
form {
	display: flex;
	flex-direction: column;
	width: 300px;
	margin: 0 auto;
	padding: 20px;
	border: 1px solid #ccc;
	border-radius: 10px;
	background-color: #f9f9f9;
}

.wrapper {
	display: flex;
	justify-content: center;
	/* Центрування по горизонталі */
	align-items: center;
	/* Центрування по вертикалі */
	height: 100vh;
	/* 100% висоти екрана */
}

/* h1 {
	text-align: center;
} */

/* Стилі для кнопки */
button {
	padding: 10px;
	background-color: #4CAF50;
	color: white;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	cursor: pointer;
}

/* Ховери на кнопці */
button:hover {
	background-color: #45a049;
}

.span-color {
	color: rgba(255, 255, 255, 0.55);
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center; /* Центрування по горизонталі */
  justify-content: center; /* Центрування по вертикалі, якщо потрібно */
  text-align: center;
}
.centered-image {
  max-width: 100%; /* Щоб зображення не виходило за межі контейнера */
  height: auto;
}
.centered-heading {
  margin-top: 10px; /* Відступ між зображенням і заголовком */
  font-size: 24px;
}
